<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav">
        <ul class="nav__list">
          <li class="nav__list-item"><a href="/">Main</a></li>
          <li class="nav__list-item"><a href="/products">Products</a></li>
          <li class="nav__list-item"><a href="/cart">Cart</a></li>
          <li class="nav__list-item"><a href="/orders">Orders</a></li>
          <li class="nav__list-item"><a href="auth">Sign In</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1><%= product.name %></h1>
      <img
        src="<%= product.imageUrl %>"
        alt="<%= product.name %>"
        width="500"
        height="500"
      />
      <h2><%= product.price %></h2>
      <p><%= product.description %></p>
      <button>Add to cart</button>
    </main>
  </body>
</html>
